:root {
  --color1: #f0ece3;
  --color2: #cbaf87;
  --color3: #7e8a97;
  --color4: #30475e;
  --color5: #8c4338;
  --color6: #a3726a;
}

body {
  background-color: var(--color1);
}

.navbar {
  background-color: var(--color4);
}

#navbarDropdown {
  color: var(--color1);
}

.dropdown-menu {
  background-color: var(--color1);
}

.dropdown-item {
  background-color: var(--color1);
  color: var(--color4);
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--color1);
  background-color: var(--color2);
}

.btn {
  background-color: var(--color6);
  color: var(--color1);
}

.btn:focus,
.btn:hover {
  color: var(--color1);
  background-color: var(--color5);
}

.nav-item:focus,
.nav-item:hover {
  text-shadow: 0px 0px 5px white;
}

.bodyimage {
  opacity: 0.3;
  height: 100%;
  width: 100%;
}
